<%= stylesheet_link_tag "application", media: "all" %>

<div class="content-container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<%= render 'index_hero' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8">
			<div class="primary-content">
		
				<p class="content-title">Projects</p>
				<% @projects.each do |project| %>

				<div class="project-list-item default">
					<% if project.images.present? %>
						<%= render project.images.first %>
					<% else %>
						<%= "no images" %>
					<% end %>

					<div class="project-text-container">
						<p class="project-listing-title"><% link_to project.title, project_path(project) %></p>
						<p class="project-listing-type"><%= project.year %> <%= project.make %> <%= project.model %></p>
						<p class="project-listing-description"><%= project.description.truncate_words(30) %><br><%= link_to "See more", project_path(project) %></p>
						<p class="project-listing-meta">Created by <%= project.user.username %> / updated <%= time_ago_in_words(project.updated_at) %> ago</p>
					</div>
				</div>
			<% end %>
			
				<%= will_paginate @projects, :param_name => 'project_page'   %>

				<p><%= link_to "New Project", new_project_path %></p>
				<p><%= link_to "View all Projects", projects_path %></p>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 hidden-xs">
			<div class="secondary-content">
				<p class="content-title">Popular Posts</p>

				<% @posts.each do |post| %>

				<div class="side-post-list-item default">
					<div class="side-post-listing-title">
						<p><%= link_to post.title, post_path(post) %></p>
					</div>
					<div class="">
						<p>posted in <%= link_to post.project.year.to_s + " " + post.project.make + " " + post.project.model, project_path(post.project) %></p>
						<p>by <%= post.project.user.username %> / updated <%= time_ago_in_words(post.updated_at) %> ago</p>
					</div>
				</div>
			<% end %>
			<%= will_paginate @posts, :param_name => 'post_page'  %>
			</div>
		</div>
	</div>	
</div>



