<h1>Edit Image</h1>

<%= simple_form_for([@post, @post.@image]) do |f| %>
	<%= f.input :caption %>
	<%= f.input :picture, as: :file %>
	<%= f.button :submit %>
	<%= link_to "Cancel", post_path(@post) %>
<% end %>